<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests Suite" parallel="tests" thread-count="3">
    <test name="ChromeTest">
        <parameter name="target-browser" value="chrome"/>
        <classes>
            <class name="testng.Week6_Assignments.Task2Test"/>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="target-browser" value="firefox"/>
        <classes>
            <class name="testng.Week6_Assignments.Task2Test"/>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="target-browser" value="edge"/>
        <classes>
            <class name="testng.Week6_Assignments.Task2Test"/>
        </classes>
    </test>
</suite>